*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #090909;
  min-height: 100vh;
  font-size: 1.6rem;
  color: whitesmoke;
  font-family: "Poppins";
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
  padding: 4rem 10rem;
}

@keyframes typing {
  100% {
    left: 120%;
    margin: 0 -3.5rem 0 -3.5rem;
  }
}
@keyframes typingMedia {
  100% {
    left: 140%;
    margin: 0 -2.5rem 0 -3.5rem;
  }
}
@keyframes slide {
  100% {
    top: -10rem;
  }
}
@keyframes slideMedia {
  100% {
    top: -6.5rem;
  }
}
@keyframes skills {
  100% {
    left: 110%;
    margin: 0 -3.5rem 0 -3.5rem;
  }
}
@keyframes move {
  0%, 100% {
    transform: translateY(0) translateX(0) scale(1);
  }
  25% {
    transform: translateY(-2rem) translateX(1.5rem) scale(1.1);
  }
  50% {
    transform: translateY(2rem) translateX(-1.5rem) scale(0.9);
  }
  75% {
    transform: translateY(-1rem) translateX(-2rem) scale(1.05);
  }
}
.heading {
  background: #050505;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading__dot {
  width: 0.8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: rgba(100, 130, 173, 0.6);
  position: absolute;
  animation: move 8s ease-in-out infinite;
  top: 10%;
}
.heading__dot:nth-child(2) {
  animation-duration: 10s;
  animation-delay: 1s;
  left: 20%;
  top: 30%;
}
.heading__dot:nth-child(3) {
  animation-duration: 12s;
  animation-delay: 2s;
  left: 20%;
  top: 70%;
}
.heading__dot:nth-child(4) {
  animation-duration: 14s;
  animation-delay: 3s;
  left: 80%;
  top: 50%;
}
.heading__dot:nth-child(5) {
  animation-duration: 16s;
  animation-delay: 5s;
  left: 80%;
  top: 20%;
}
.heading__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.heading__wrapper--intro {
  font-size: 300%;
}
.heading__wrapper--intro::after {
  content: ".";
  position: absolute;
  color: #6482AD;
}
.heading__info {
  list-style: none;
  font-size: 180%;
  color: #6482AD;
  height: 4rem;
  overflow: hidden;
}
.heading__info--item {
  position: relative;
  top: 0;
  animation: slide 6s steps(2) infinite;
}
.heading__info--item-span {
  position: relative;
}
.heading__info--item-span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #050505;
  border-left: 0.2rem solid #6482AD;
  animation: typing 3s steps(45) infinite;
}
.heading__button {
  background: none;
  border: none;
  padding: 2rem 4rem;
  border: 0.2rem solid #6482AD;
  color: #6482AD;
  font-size: 120%;
  transition: 0.4s all;
  border-radius: 0.2rem;
}
.heading__button:hover {
  cursor: pointer;
  box-shadow: 0 0rem 0.3rem 0.1rem #6482AD;
  text-shadow: 0 0rem 0.2rem #6482AD;
}

.header {
  position: sticky;
  top: 0;
  background: rgba(5, 5, 5, 0.8);
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__navigation--list {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: 600;
}
.header__navigation--list-link {
  text-decoration: none;
  color: white;
  transition: 0.2s all;
  font-size: 130%;
}
.header__navigation--list-link:hover {
  color: #6482AD;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}
.about__title {
  font-size: 320%;
  position: relative;
}
.about__title::after {
  content: "";
  width: 100%;
  background: #6482AD;
  height: 3rem;
  position: absolute;
  bottom: 5%;
  right: -20%;
  z-index: -1;
}
.about__wrapper {
  display: grid;
  grid-template-columns: 65% 35%;
}
.about__info {
  padding: 2rem 14rem;
  font-size: 130%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.about__skills {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  overflow: hidden;
}
.about__skills--wrapper {
  position: absolute;
  left: -100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  animation: skills 5s steps(50) infinite;
}
.about__skills--image {
  height: 9rem;
  width: 9rem;
  object-fit: contain;
}
.about__skills--resume {
  color: white;
  text-decoration: none;
  font-size: 150%;
  position: absolute;
  bottom: 10%;
  background: none;
  border: none;
  padding: 2rem 4rem;
  border: 0.2rem solid #6482AD;
  color: #6482AD;
  font-size: 120%;
  transition: 0.4s all;
  border-radius: 0.2rem;
}
.about__skills--resume:hover {
  cursor: pointer;
  box-shadow: 0 0rem 0.3rem 0.1rem #6482AD;
  text-shadow: 0 0rem 0.2rem #6482AD;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}
.projects__title {
  font-size: 320%;
  position: relative;
}
.projects__title::after {
  content: "";
  width: 100%;
  background: #6482AD;
  height: 3rem;
  position: absolute;
  bottom: 5%;
  right: -20%;
  z-index: -1;
}
.projects__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.projects__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 110%;
}
.projects__buttons--button:hover {
  cursor: pointer;
}

.project {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.project__figure {
  width: 65rem;
  height: 40rem;
}
.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project__info {
  background: #050505;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 3rem;
  padding: 2rem 1rem;
}
.project__info--title {
  font-size: 200%;
}
.project__info--wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}
.project__info--link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 0.4rem 1rem;
  font-size: 120%;
}
.project__info--link:hover {
  color: #6482AD;
  text-decoration: underline;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #050505;
  padding: 2rem 1rem;
  height: 30rem;
  gap: 1rem;
}
.contact__title {
  font-size: 320%;
  position: relative;
  z-index: 1;
}
.contact__title::after {
  content: "";
  width: 100%;
  background: #6482AD;
  height: 3rem;
  position: absolute;
  bottom: 5%;
  right: -20%;
  z-index: -1;
}
.contact__wrapper {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 280%;
  padding: 1rem;
  color: white;
}
.contact__wrapper--link {
  text-decoration: none;
  color: white;
  transition: 0.2s all;
}
.contact__wrapper--link:hover {
  color: #6482AD;
}

.footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050505;
  height: 8rem;
  color: grey;
  border-top: 0.1rem solid rgb(62, 62, 62);
}
.footer__information {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2rem;
}
.footer__information--text {
  font-weight: 400;
  font-size: 90%;
}

@media screen and (max-width: 27rem) {
  .heading {
    width: 100%;
  }
  .heading__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .heading__wrapper--intro {
    font-size: 250%;
  }
  .heading__info {
    font-size: 140%;
    height: 3rem;
  }
  .heading__info--item {
    animation: slideMedia 6s steps(2) infinite;
  }
  .heading__info--item-span::after {
    animation: typingMedia 3s steps(45) infinite;
  }
  .header__navigation--list {
    width: 90%;
  }
  .main {
    padding: 2rem 4rem;
  }
  .about__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .about__info {
    text-align: center;
    padding: 0;
    font-size: 120%;
  }
  .about__skills--wrapper {
    display: none;
  }
  .about__skills--resume {
    position: static;
  }
  .project {
    flex-direction: column;
  }
  .project__figure {
    width: 100%;
    height: 25rem;
  }
  .project__info {
    width: 100%;
    gap: 1rem;
  }
  .project__info--title {
    font-size: 140%;
  }
  .project__info--link {
    font-size: 110%;
  }
  .contact {
    padding: 0;
    gap: 2rem;
  }
  .contact__wrapper {
    font-size: 200%;
  }
  .footer {
    padding: 0;
  }
  .footer__information {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
