@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.footer{
    padding: 2rem;
    @include mixins.flexBox;
    background: map-get(variables.$headingVars, "background");
    height: 8rem;
    color: grey;
    border-top: 0.1rem solid rgb(62, 62, 62);

    &__information{
        width: 80%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 2rem;

        &--text{
            font-weight: 400;
            font-size: 90%;
        }
    }
}