@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.contact{
    width: 100%;
    @include mixins.flexBox;
    flex-direction: column;
    background: map-get(variables.$headingVars, "background");
    padding: 2rem 1rem;
    height: 30rem;
    gap: 1rem;

    &__title{
        @include mixins.title;
        z-index: 1;
    }

    &__wrapper{
        width: 20%;
        @include mixins.flexBox;
        gap: 3rem;
        font-size: 280%;
        padding: 1rem;
        color: white;

        &--link{
            text-decoration: none;
            color: white;
            transition: 0.2s all;

            &:hover{
                color: map-get(variables.$headingVars, "accent");
            }
        }
    }
}