@keyframes typing{
    100%{
        left: 120%;
        margin: 0 -3.5rem 0 -3.5rem;
    }
}

@mixin typing{
    animation: typing 3s steps(45) infinite;
}

@keyframes slide{
    100%{
        top: -10rem;
    }
}

@mixin slide{
    animation: slide 6s steps(2) infinite;
}