@keyframes typing{
    100%{
        left: 120%;
        margin: 0 -3.5rem 0 -3.5rem;
    }
}

@mixin typing{
    animation: typing 3s steps(45) infinite;
}

@keyframes typingMedia{
    100%{
        left: 140%;
        margin: 0 -2.5rem 0 -3.5rem;
    }
}

@mixin typingMedia{
    animation: typingMedia 3s steps(45) infinite;
}

@keyframes slide{
    100%{
        top: -10rem;
    }
}

@mixin slide{
    animation: slide 6s steps(2) infinite;
}

@keyframes slideMedia{
    100%{
        top: -6.5rem;
    }
}

@mixin slideMedia{
    animation: slideMedia 6s steps(2) infinite;
}

@keyframes skills{
    100%{
        left: 200%;
        margin: 0 -3.5rem 0 -3.5rem;
    }
}

@mixin skills{
    animation: skills 5s linear infinite;
}

@keyframes move {
    0%,
    100% {
      transform: translateY(0) translateX(0) scale(1);
    }
    25% {
      transform: translateY(-2rem) translateX(1.5rem) scale(1.1);
    }
    50% {
      transform: translateY(2rem) translateX(-1.5rem) scale(0.9);
    }
    75% {
      transform: translateY(-1rem) translateX(-2rem) scale(1.05);
    }
  }
  
@mixin move{
    animation: move 8s ease-in-out infinite;
}

@keyframes modal{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@mixin modal{
    animation-name: modal;
    animation-duration: 0.2s;
}

@keyframes popup{
    from{
        margin-top: 4rem;
        opacity: 0;
    }
    to{
        margin-top: 0;
        opacity: 1;
    }
}

@mixin popup{
    animation-name: popup;
    animation-duration: 0.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}