@use "variables";
@use "mixins";

body{
    background: map-get(variables.$baseVars, "background");
    min-height: 100vh;
    font-size: 1.6rem;
    color: map-get(variables.$baseVars, "color");
    font-family: map-get(variables.$baseVars, "font"), sans-serif;
}

.main{
    @include mixins.flexBox;
    flex-direction: column;
    gap: 8rem;
    padding: 4rem 10rem;
}