@use "mixins";
@use "animations";

@media screen and (max-width: 27rem){
    .heading{
        width: 100%;
        &__wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            &--intro{
                font-size: 250%;
            }
        }
        &__info{
            font-size: 140%;
            height: 3rem;

            &--item{
                @include animations.slideMedia;

                &-span{
                    &::after{
                        @include animations.typingMedia;
                    }
                }
            }
        }
        
    }
    .header{
        &__navigation{
            
            &--list{
                width: 90%;
            }
        }
    }

    .main{
        padding: 2rem 4rem;
    }

    .about{

        &__wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
        &__info{
            text-align: center;
            padding: 0;
            font-size: 120%;
        }

        &__skills{
            &--wrapper{
                display: none;
            }
            &--resume{
                position: static;
            }
        }
    }

    .project{
        flex-direction: column;

        &__figure{
            width: 100%;
            height: 25rem;
        }
        &__info{
            width: 100%;
            gap: 1rem;

            &--title{
                font-size: 140%;
            }

            &--link{
                font-size: 110%;
            }
        }
    }

    .contact{
        padding: 0;
        gap: 2rem;

        &__wrapper{
            font-size: 200%;
        }
    }
    .footer{
        padding: 0;

        &__information{
            @include mixins.flexBox;
        }
    }


}

@media screen and (max-width: 54rem){
    .heading{
        &__button{
            font-size: 200%;
            padding: 3rem 4rem;
        }
    }
    .main{
        gap: 10rem;
    }
    .about{

        &__wrapper{
            @include mixins.flexBox;
            flex-direction: column;
            gap: 2rem;
        }
        &__info{
            width: 100%;
            padding: 1rem;
            @include mixins.flexBox;
            text-align: center;
            font-size: 160%;
        }
        &__skills{
            &--wrapper{
                display: none;
            }
            &--resume{
                position: static;
                font-size: 150%;
                padding: 2rem 3rem;
            }
        }
    }
    .projects{
        margin-bottom: 10rem;
        &__wrapper{
            gap: 5rem;
        }
        &__buttons{
            font-size: 180%;
            gap: 2rem;
        }
    }
    .project{
        display: flex;
        flex-direction: column;

        &__figure{
            width: 100%;
        }
        &__info{
            width: 100%;
            gap: 1rem;

            &--description{
                font-size: 150%;
            }
            &--wrapper{
                width: 100%;
                @include mixins.flexBox;
                flex-direction: row;
                color: white;
                gap: 0;
            }
            &--text{
                display: none;
            }
            &--icon{
                font-size: 140%;
            }
        }
    }
    .footer{
        &__information{
            @include mixins.flexBox;
        }
    }
}