$baseVars: (
    "background": #090909,
    "color": whitesmoke,
    "font": "Poppins"
);

$headingVars: (
    "background": #050505,
    "accent": #6482AD
);

$accentColors: (
    "first": rgb(135, 135, 207),
    "second": rgb(209, 143, 183)
);

$footerVars: (
    "background": #020202
);