@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.header{
    position: sticky;
    top: 0;
    background: rgba(map-get(variables.$headingVars, "background"), 0.8);
    padding: 1.5rem;
    @include mixins.flexBox;
    z-index: 1000;

    &__wrapper{
        width: 100%;
    }

    &__home{
        font-size: 140%;
        color: map-get(variables.$baseVars, "color");
        font-weight: 600;
        text-decoration: none;
        transition: 0.2s all;

        &:hover{
            cursor: pointer;
            color: map-get(variables.$accentColors, "first");
        }
    }

    &__navigation{
        @include mixins.flexBox;
        width: 100%;

        &--list{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            font-weight: 600;

            &-link{
                text-decoration: none;
                color: white;
                transition: 0.2s all;
                font-size: 130%;

                &:hover{
                    color: map-get(variables.$headingVars, "accent");
                }
            }
        }
    }
    &__button{
        background: none;
        border: none;
        color: map-get(variables.$baseVars, "color");
        padding: 0 1rem;

        &:hover{
            cursor: pointer;
        }
        &:focus{
            outline: none;
        }

        &--icon{
            font-size: 250%;
        }
    }
}

.moreHeader{
    
    &__button{
        background: none;
        border: none;
        color: map-get(variables.$baseVars, "color");
        padding: 0 1rem;

        &:hover{
            cursor: pointer;
        }
        &:focus{
            outline: none;
        }

        &--icon{
            font-size: 250%;
        }
    }
}