@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.aside{
    width: 20%;

    &__filters{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        padding: 0 2rem;
    }
}

.filters{
    width: 14rem;
    position: relative;
    height: 5rem;
    @include mixins.flexBox;

    &__input{
        appearance: none;
        width: 100%;
        height: 4rem;
        border-radius: 0.1rem;
        position: absolute;

        &:focus{
            outline: none;
        }

        &:checked{
            border: 0.2rem solid map-get(variables.$accentColors, "first");
        }
        &:not(:checked){
            border: none;
        }
    }

    &__label{
        position: absolute;;
        font-size: 120%;
        width: 100%;
        padding: 1rem;
    }
}
