@use "../../abstracts/variables";
@use "../../abstracts/mixins";
@use "../../abstracts/animations";

.about{
    @include mixins.flexBox;
    flex-direction: column;
    gap: 6rem;

    &__title{
        @include mixins.title;
    }

    &__wrapper{
        display: grid;
        grid-template-columns: 65% 35%;
    }

    &__info{
        padding: 2rem 14rem;
        font-size: 130%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
    }

    &__skills{
        padding: 1rem;
        @include mixins.flexBox;
        position: relative;
        overflow: hidden;

        &--wrapper{
            position: absolute;
            left: -100%;
            width: 100%;
            @include mixins.flexBox;
            gap: 2rem;
            @include animations.skills;
        }

        &--image{
            height: 9rem;
            width: 9rem;
            object-fit: contain;
        }
    }
}