@use "../../abstracts/variables";
@use "../../abstracts/mixins";
@use "../../abstracts/animations";

.heading{
    background: map-get(variables.$headingVars, "background");
    height: 100vh;
    @include mixins.flexBox;

    &__dot{
          width: 0.8rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background: rgba(map-get(variables.$headingVars, "accent"), 0.6);
          position: absolute;
          @include animations.move;
          top: 10%;
        
          &:nth-child(2){
            animation-duration: 10s;
            animation-delay: 1s;
            left: 20%;
            top: 30%;
          }
        
          &:nth-child(3){
            animation-duration: 12s;
            animation-delay: 2s;
            left: 20%;
            top: 70%;
          }
        
          &:nth-child(4){
            animation-duration: 14s;
            animation-delay: 3s;
            left: 80%;
            top: 50%;
          }
        
          &:nth-child(5){
            animation-duration: 16s;
            animation-delay: 5s;
            left: 80%;
            top: 20%;
          }
        }

    &__div{
        @include mixins.flexBox;
        flex-direction: column;
        gap: 4rem;
    }

    &__wrapper{

        &--intro{
            font-size: 300%;

            &::after{
                content: ".";
                position: absolute;
                color: map-get(variables.$headingVars, "accent");
            }
        }
    }

    &__info{
        list-style: none;
        font-size: 180%;
        color: map-get(variables.$headingVars, "accent");
        height: 4rem;
        overflow: hidden;

        &--item{
            position: relative;
            top: 0;
            @include animations.slide;

            &-span{
                position: relative;

                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: map-get(variables.$headingVars, "background");
                    border-left: 0.2rem solid map-get(variables.$headingVars, "accent");
                    @include animations.typing;
                }
            }
        }
    }
    &__button{
        background: none;
        border: none;
        padding: 2rem 4rem;
        border: 0.2rem solid map-get(variables.$headingVars, "accent");
        color: map-get(variables.$headingVars, "accent");
        font-size: 120%;
        transition: 0.4s all;
        border-radius: 0.2rem;

        &:hover{
            cursor: pointer;
            box-shadow: 0 0rem 0.3rem 0.1rem map-get(variables.$headingVars, "accent");
            text-shadow: 0 0rem 0.2rem map-get(variables.$headingVars, "accent");
        }
    }
}